<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.faiz.mylogin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@drawable/mainlogo"
        android:label="Chat Application"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden"

            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.Navigation_Activity"
            android:label="My Chat Application"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.Conversation_Activity"
            android:label="Conversation Room"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.Signup_Activity"
            android:label="Signup Form"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <!--<activity-->
            <!--android:name="com.facebook.FacebookActivity"-->
            <!--android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"-->
            <!--android:label="@string/app_name"-->
            <!--android:theme="@android:style/Theme.Translucent.NoTitleBar" />-->
        <activity android:name=".ui.Create_Group"
            android:label="Create Group"
            android:windowSoftInputMode="stateAlwaysHidden"

            />
        <activity android:name=".ui.Group_Chat_Act"
            android:label="Group Chat Room"
            />
        android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:name=".ui.FriendListActivity"
            android:label="Find Friends"
            ></activity>
        <activity android:name=".ui.Add_memeber_Activity"
            android:label="Find Group Members"
            ></activity>
    </application>

</manifest>